<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ asset('/web/favicon.ico') }}" />

    {#<link rel="stylesheet" href="{{ asset('/web/bundles/acmedemo/css/demo.css') }}" type="text/css" media="all" />#}
    <link rel="stylesheet" href="{{ asset('/web/css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('/web/css/supersized.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('/web/theme/supersized.shutter.css') }}" type="text/css" media="all" />

    <script type="text/javascript" src="{{ asset('/web/js/jquery-1.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/web/js/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/web/js/supersized.3.2.5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/web/theme/supersized.shutter.js') }}"></script>

    {% block supersized %}{% endblock %}
    {% block includes %}{% endblock %}

    <title>DesignLab | {% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <!--Logo-->
        <div id="logo">
            <a href="{{ path('main') }}"><img src="/web/img/logo.png"></a>
        </div>
        <!--end Loo-->

        <!--Main Menu-->
        <div id="main_menu">
            {% render "AcmeDesignBundle:Main:mainMenu" with {'route': app.request.attributes.get('_route') } %}
        </div>
        <!--end Main Menu-->
    </div>

    <div id="content">

        {% if app.session.flash('notice') %}
            <div class="flash-message">
                <em>Замітка</em>: {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>


    {% block description %}
        <!--Descriptions Sliders-->
        <div id="slidecaption"></div>
    {% endblock %}

    <!-- Admin menu -->
    {% if is_granted('ROLE_ADMIN') %}
        <div id="admin_menu">
            <a href="{{ path('photo_list') }}">Усі фото</a> |
            <a href="{{ path('photo_add') }}">Додати фото</a> |
            {#<a href="{{ path('object_list') }}">List Object</a> |#}
            <a href="{{ path('object_add') }}">Додати об’єкт</a> |
            <a href="{{ path('type_photo_manager') }}">Типи фото</a> |
            <a href="{{ path('type_object_manager') }}">Типи об’єктів</a> |
            <a href="{{ path('logout') }}">Вийти з адмінки</a>
        </div>
    {% endif %}

    <!--Thumbnail Navigation-->
    <div id="prevthumb"></div>
    <div id="nextthumb"></div>



    <div id="thumb-tray" class="load-item">
        <div id="thumb-back"></div>
        <div id="thumb-forward"></div>
    </div>


    <!--Time Bar-->
    <div id="progress-back" class="load-item">
        <div id="progress-bar"></div>
    </div>


    <!--Control Bar-->
    <div id="controls-wrapper" class="load-item">


        <div id="controls">
        {% block controls %}
            {% render "AcmeDesignBundle:Main:controlsGallery" %}
        {% endblock %}
        </div>

    </div>








{#<div id="symfony-wrapper">#}
    {#<div id="symfony-header">#}
        {#<h1>DesignLab.if.ua</h1>#}
        {#{% render "AcmeDesignBundle:Main:mainMenu" %}#}
    {#</div>#}

    {#{% if app.session.flash('notice') %}#}
    {#<div class="flash-message">#}
        {#<em>Notice</em>: {{ app.session.flash('notice') }}#}
    {#</div>#}
    {#{% endif %}#}

    {#{% block content_header %}#}

    {#<div style="clear: both"></div>#}
    {#{% endblock %}#}

    {#<div class="symfony-content">#}
        {#{% block content %}#}
        {#{% endblock %}#}
    {#</div>#}

    {#{% if code is defined %}#}
    {#<h2>Code behind this page</h2>#}
    {#<div class="symfony-content">{{ code|raw }}</div>#}
    {#{% endif %}#}
{#</div>#}


</body>
</html>
