{% extends 'AcmeDesignBundle::layout.html.twig' %}

{% block supersized %}

<script type="text/javascript">
    jQuery(function($){
        $.supersized({

            // Functionality
            autoplay                :   0,
            slide_interval          :   5000,		// Length between transitions
            transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
            transition_speed		:	1000,		// Speed of transition

            // Components
            slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
            slides 					:  	[			// Slideshow Images
                {	image : '/web/img/foto/fons/portfolio.jpg',
                    name  : 'Портфоліо',
                    title : 'Наші проекти',
                    thumb : '/web/img/foto/fons/portfolio.jpg'
//                    url : 'http://www.nonsensesociety.com/2011/04/maria-kazvan/'
                }
            ]

        });
    });
</script>

{% endblock %}

{% block title %}Менеджер типів об’єктів{% endblock %}

{% block content %}
    <h2>Менеджер типів об’єктів</h2>
    {#<p>This is list of all photos on this website:</p>#}

    <ul id="types_list">
        {% for object_type in object_types %}
        <li>
            <h3>{{ object_type.name }}</h3>
            <span class="edit_block">
                (<a onclick="if (confirm('Ви дійсно бажаєте видалити тип об’єкта {{ object_type.name }}? Зауважте, всі об’єкти прикріпленими до цього типу будуть видалені разом з фото цих об’єктів!') == false) return false;"
                   class="photo_delete"
                   href="{{ path('type_object_delete', { 'type_object_id': object_type.id }) }}" >видалити</a> |
                <a class="photo_delete"
                   href="{{ path('type_object_edit', { 'type_object_id': object_type.id }) }}" >редагувати</a>)
            </span>
            {% if object_type.description != '' %}
                <p>{{ object_type.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h3>Добавити новий тип фото</h3>
    <form action="{{ path('type_object_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <br>
        <input type="submit" value="Зберегти тип об’єта" />
    </form>

{% endblock %}

{% block controls %}

{% endblock%}
